main {
  display: flex;
}

aside {
  width: 33%;
  padding: 10px;
  background: cornflowerblue;
}

form > div {
  margin-bottom: 20px;
}

h2 a {
  color: #0078d4;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 2rem 20rem;
}

footer {
  margin-top: 1rem;
}

.compare {
  display: flex;
}

.space-right {
  margin-right: auto;
}
